{% extends 'base.html' %}
{% load bootstrap4 %}
 {% load staticfiles %}
 {% load static %}
 
​
{%block content%}
<div class="top">
    <br>
    <h2 class="text-white move">10. APPLICATION ATTACHMENTS:</h2><br>
</div>
​
<div class="container">
<div class="row">
  <div class="col-md-2"></div>
<div class="col-md-8 margin">
    <div class="card shadow-lg" style="width: 100%;">
        <div class="card-body">
            <form  action="{%url 'documents' id%}" method="post" enctype="multipart/form-data">
​         {%csrf_token%}
              <h1> APPLICATION ATTACHMENTS</h1>
              <p>Please attach the following on application:-</p>
​
              <ol>
                <li>Bank statements for the last six (6) months. For seasonal businesses, a full year bank statements will be required. </li>
<li>b. Copy
  of ID) and copy of PIN certificate (for individual).</li>
  <li>Latest copy of payslip (Salaried individuals).</li>
  <li>Copy of certificate of incorporation, copy of PIN certificate, Memorandum & Articles of association (for body corporate). e.
    Business registration certificate (Where applicable).</li>
    <li>Audited accounts for at least 2 years (Where applicable). </li>
    <li>Proforma invoice from dealer.</li>
    <li>Contract documents (Where available).</li>
    <li>Company profile (Where applicable).</li>
              </ol>
             
      
              {% bootstrap_form form%}
          
              <input class="btn btn-primary" type="submit" value="NEXT"/>
            </form>
             </div>
    </div>
  
​
​
   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}
</div>
</div>
</div>
{% endblock %}