<h2 class="text-uppercase"><small><strong>DOCUMENTS FOR {{username.username}}</strong></small></h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
                <th>description</th>
                <th>document</th>
                <th>image</th>
                <th>uploaded_at</th>
                <th>date_added</th>
               
                
       </tr>
</thead>
<tbody>
{% for item in all_document  %}
    {%for i in item%}
   
            <tr>
                
                    <td>{{i.description}}</td>
                    <td><a href="{{i.document}}">{{i.document}}</a></td>
                    <td><a href="{{i.image}}"> {{i.image}}</a></td>
                    <td>{{i.uploaded_at}}</td>
                    <td>{{i.date_added}}</td>
            </tr>
        

    {%endfor%}
{% endfor %}
</tbody>
</table>
</div>

{% for item in all_credit %}
    {%for i in item%}
    {%endfor%}

{% endfor %}

{% for item in all_document %}
    {%for i in item%}
    {%endfor%}

{% endfor %}

{% for item in all_other %}
    {%for i in item%}
    {%endfor%}

{% endfor %}

{% for item in all_asset %}
    {%for i in item%}
    {%endfor%}

{% endfor%}










